/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
         url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
         url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'proxima_nova_rgregular'; */
}

p{
    font-family: ;
}
:root{
    --nav-height: 75px;
    --nav-pad: 10px;
}

body{
    margin:0;
}

nav img{
    margin-left: 50px;
    width: 250px;
    height: var(--nav-height);
}

nav ul{
    display: flex;
    align-items: center;
    align-content: right;
    list-style-type: none;

    
    
}

nav li{
    padding-right: 50px;
    font-size: 32px;
    
}

nav a{
    text-decoration: none;
    color: #1A1A1A;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: var(--nav-pad);
    padding-bottom: var(--nav-pad);
}

header{
    background-image: url(../images/landing.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--nav-height) - 2 * var(--nav-pad));
    background-size: cover;
    color: white;
}

h1{
    font-weight: bold;
    font-size: 128px;
}
header div{
    justify-content: center;
}
.h1-and-p p{
    text-align: center;
    font-size: 40px;
    margin-top: -40px;
}
h3{
    text-align: center;
    text-decoration: underline #00B172 2px;
    font-size: 48px;
}
.icons{
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon{
    width: 30%
}

.icon img{
    width: 120px;
    height: 120px;
}
.icon h4{
    font-weight: bold;
    color: #00B172;
    font-size: 35px;
}
.icon p{
    font-size: 25px;
    padding-inline: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.green{
    background-color: #1ab26b ;
    background-image: url(/images/spotify-icon-white.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    background-position: center;
    background-size: 7%;
    color: white;
}
.app{
    width: 30rem;
    height: 45rem;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 120px;
}
.text{
    padding-inline: 10%;   
}
.text p{
    width: 40%;
    font-size: 20px;
    margin: 5%;
}
h3{
    border-bottom: solid 4px white;
    margin-inline: 50px;
    font-size: 40px;
}
.text h4{
    font-weight: bold;
    font-size: 30px;
    margin: 5%;
}

